# Copyright (c) 2018-2019 Linaro Limited
# SPDX-License-Identifier: Apache-2.0

config BOARD_MPS3_AN524
	bool "ARM Cortex-M33 SMM on V2M-MPS3 (AN521)"
	depends on SOC_MPS3_AN524
	select QEMU_TARGET
	select HAS_COVERAGE_SUPPORT
