[project]
	description = Mirror of the zephyr repo on https://gerrit.zephyrproject.org
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/galak
[access "refs/for/refs/*"]
	read = group user/galak
	push = group user/galak
	label-Code-Review = -2..+2 group user/galak
	label-Verified = -1..+1 group user/galak
	rebase = group user/galak
	removeReviewer = group user/galak
	submit = group user/galak
[access "refs/heads/*"]
	read = group user/galak
	create = group user/galak
	push = +force group user/galak
	pushMerge = group user/galak
[access "refs/tags/*"]
	push = +force group user/galak
	pushTag = group user/galak
	pushSignedTag = group user/galak
