[project]
	description = Mirror of the zephyr repo on https://gerrit.zephyrproject.org
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kumar Gala (galak)
[access "refs/for/refs/*"]
	read = group user/Kumar Gala (galak)
	push = group user/Kumar Gala (galak)
	label-Code-Review = -2..+2 group user/Kumar Gala (galak)
	label-Verified = -1..+1 group user/Kumar Gala (galak)
	rebase = group user/Kumar Gala (galak)
	removeReviewer = group user/Kumar Gala (galak)
	submit = group user/Kumar Gala (galak)
[access "refs/heads/*"]
	read = group user/Kumar Gala (galak)
	create = group user/Kumar Gala (galak)
	push = +force group user/Kumar Gala (galak)
	pushMerge = group user/Kumar Gala (galak)
[access "refs/tags/*"]
	push = +force group user/Kumar Gala (galak)
	pushTag = group user/Kumar Gala (galak)
	pushSignedTag = group user/Kumar Gala (galak)
