# Kconfig - LPC LPC55S6X MCU line
#
# Copyright (c) 2017, NXP
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_SERIES_LPC55S6X
	bool "LPC LPC55S6x Series MCU"
	select HAS_MCUX
	select SOC_FAMILY_LPC
	select CPU_HAS_SYSTICK
	help
	  Enable support for LPC LPC55S6X MCU series
