# Kconfig -  LPC55S6X series configuration options
#
# Copyright (c) 2017, NXP
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_SERIES_LPC55S6X

config SOC_SERIES
	default "lpc55S6x"

config NUM_IRQS
	int
	# must be >= the highest interrupt number used
	default 60

source "soc/arm/nxp_lpc/lpc55S6x/Kconfig.defconfig.lp*"

endif # SOC_SERIES_LPC55S6X
